
.dotted-icon::-moz-focus-inner {
    border: 0;
 }

 .btns:hover {
    color: #fff !important;
    text-decoration: none;
}

.inner-text {
   color: #ffffff;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   padding: 10px 10px;
   text-transform: capitalize;
}

.count-text {
   color: #ffffff;
   text-align: center;
   font-size: 30px;
   font-weight: bold;
}

.box-icon {
   color: #ffffff;
   font-size: 80px;
   padding: 5px 25px 15px 10px;
}

.action-btn{
   background-color:transparent;
   outline: none;
}

.action-btn:hover{
   background-color:transparent;
   outline: none;
}

.action-btn:active{
   background-color:transparent;
   outline: none;
}

.creator {
   border-radius: 50%;
   border:0;
   font-weight: bolder;
   text-align: center;
   background-color:rgb(253,216,53);
   color:#766518;
   font-size: 25px;
   padding:8px 20px;
   box-shadow: 3px 3px 3px #C2C2C2;
   outline: none;
}

.creator:hover {
   background-color:rgb(253,216,53);
   color: #766518;
   border:0;
}

.creator:focus {
   background-color:rgb(253,216,53);
   color: #766518;
   border-color: rgb(253,216,53);
   outline: none;
}

.creator:active {
   background-color:rgb(253,216,53);
   color: #766518;
   border-color:rgb(253,216,53);
   outline: none;
}

.creator:visited {
   background-color:rgb(253,216,53);
   color: #766518;
   border-color:rgb(253,216,53);
   outline: none;
}

.deletor {
   border-radius: 50%;
   border:0;
   font-weight: bolder;
   text-align: center;
   color:#766518;
   background-color:#DC3F45;
   font-size: 25px;
   padding:8px 20px;
   box-shadow: 3px 3px 3px #C2C2C2;
   outline: none;
   margin-left: 20px; 
}

.deletor:hover{
   background-color:#DC3F45;
   color:#766518;
}

.deletor:visited{
   background-color:#DC3F45;
   color:#766518;
}

.deletor:active{
   background-color:#DC3F45;
   color:#766518;
}

.deletor:focus{
   background-color:#DC3F45;
   color:#766518;
}